html,
body,
#root {
  animation: gradientShift 30s ease-in-out infinite;
  background: radial-gradient(circle, #A012DE 8%, #43B7A5 74%, #5EF753 100%);
  background-size: 200% 200%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 16px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}